# Maven
target/
.mvn/

# Build output (IDE / Server)
out/
build/
dist/
nbbuild/
nbdist/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nbproject/private/
.nb-gradle/
.apt_generated/

# Eclipse (optional but safe)
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp
*.swp

